<h1>All Cars</h1>

<hr>


  <% @cars.each do |car| %>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h2> <%= car.brand %></h2>
        <h4> <%= car.model %></h3>
        <p><%= car.created_at.strftime("%A, %d %b %Y %l:%M %p") %></p>
      </div>
      <img src="<%= car.image_url %>">
      <div class="card-footer">
          <%= link_to car_path(car) do %>
            <h6><i class="fa-regular fa-comment"></i> Comment</h6>
          <% end %>
        <p><%= car.owner.nickname%></p>
      </div>
    </div>
  </div>
  <% end %>
