<div class = "container">
  <div class="card" id="car-card">
    <div class="cardimage" style="background-image: url(<%= @car.image_url %>);">
      <div class="card-details">
        <% if @car.favourites.empty? %>
          <%= simple_form_for [@car, @favourite] do |f| %>
            <%= f.submit 'Save in my garage' %>
          <% end %>
        <% else %>
        <p>This car is already in your garage!</p>
        <% end %>
      </div>
    </div>


    <div class="card-body">
      <div>
        <h1><%= @car.brand %></h1>
        <h2><%= @car.model%></h3>
        <p><%= @car.fuel%></p>
        <p><%= @car.year %></p>
      </div>
      <%= simple_form_for [@car, @review] do |f| %>
        <%= f.input :comment, placeholder: "Leave your comment" %>
        <%= f.input :rating, collection: (1..5) %>
        <%= f.submit 'Send'%>
      <% end %>
    </div>

    <% @car.reviews.each do |review| %>
    <div class="reviews">
      <p><%= review.comment %></p>
      <p> <%= 'â­ï¸' * review.rating%></p>
    </div>

    <% end %>

  </div>
</div>
